@import 'palette.scss';

// place your custom styles here
.vp-navbar {
    box-shadow: none;
    border-bottom: 1px solid #eaecef;
}

.vp-sidebar {
    box-shadow: none;
    border-right: 1px solid #eaecef;
}

span.vp-sidebar-title {
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #eaecef;
}

.vp-sidebar-header.clickable:hover {
    background: unset;
    color: $theme-color;
}

.vp-sidebar-link {
    &.active {
        background: unset;
    }

    &:hover {
        background: unset;
        color: $theme-color;
    }
}
